<h1>Review</h1>

<%= render 'review', review: @review %>

<%= link_to 'Edit review', edit_product_review_path(@product, @review) %> <br>
<%= button_to 'Delete review', product_review_path(@product, @review), method: :delete %>
